@CHARSET "ISO-8859-1";
 
.header {
	background-color: #ACA1EF;
	color: #fff;
	padding: 20px;
	margin: 0;
	box-shadow: 1px 1px 5px 2px #666;
}

.body-style{
	background-color: #92E9CB;
}

#d1 {
    float: left;
   
 }

#d2{
float: right;

}
#wrapper{
	
	width:100%;
	margin:auto;
	color:black;
	background-color:yellow;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
red{
	color:red;
}
