<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <welcome-file-list>
  	<welcome-file>view/Users/logIn.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>DepartmentServlet</servlet-name>
    <servlet-class>controller.DepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentServlet</servlet-name>
    <url-pattern>/Department</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PatientServlet</servlet-name>
    <servlet-class>controller.PatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientServlet</servlet-name>
    <url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WardServlet</servlet-name>
    <servlet-class>controller.WardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WardServlet</servlet-name>
    <url-pattern>/Ward</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BedServlet</servlet-name>
    <servlet-class>controller.BedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BedServlet</servlet-name>
    <url-pattern>/Bed</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RoomTypeAndCostServlet</servlet-name>
    <servlet-class>controller.RoomTypeAndCostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomTypeAndCostServlet</servlet-name>
    <url-pattern>/RoomTypeAndCost</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>controller.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/Room</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>

</web-app>