<?xml version="1.0" encoding="UTF-8"?>

<web-app>
    <display-name>Archetype Created Web Application</display-name>
	
	<servlet> 
     	<servlet-name>DepartmentServlet</servlet-name>  
     	<servlet-class>controller.DepartmentServlet</servlet-class>  
   	</servlet>  
   	<servlet-mapping>  
     	<servlet-name>DepartmentServlet</servlet-name>  
    	<url-pattern>/Department</url-pattern>  
	</servlet-mapping>
	
	<servlet> 
     	<servlet-name>PatientServlet</servlet-name>  
     	<servlet-class>controller.PatientServlet</servlet-class>  
   	</servlet>  
   	<servlet-mapping>  
     	<servlet-name>PatientServlet</servlet-name>  
    	<url-pattern>/Patient</url-pattern>  
	</servlet-mapping>
	
	<servlet> 
     	<servlet-name>BedServlet</servlet-name>  
     	<servlet-class>controller.BedServlet</servlet-class>  
   	</servlet>  
   	<servlet-mapping>  
     	<servlet-name>BedServlet</servlet-name>  
    	<url-pattern>/Bed</url-pattern>  
	</servlet-mapping>
</web-app>